bin/*
V2RhoT/*.o
V2RhoT/Makefile
V2RhoT/V2RhoT
V2RhoT/test.out
V2RhoT/Makefile
V2T/*.o
V2T/Makefile
V2T/V2T
V2T/docs/*synctex.gz
V2T/docs/*.log
V2T/docs/*.aux
V2T/docs/*.pdf
V2T/Makefile
.DS_Store
.qmake.stash
*.app
.vscode
